body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.cart {
    border: 2px solid #ccc;
    padding: 10px;
}

.cart-item {
    display: flex;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin: 0;
}

.item-details p {
    margin: 5px 0;
}

.remove-item {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-item:hover {
    background-color: #c82333;
}

#null-container {
    display: flex; /* 使用 flexbox 佈局 */
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    height: 67vh; /* 設置容器視口高度 */
}

#null-centered-content {
    text-align: center; /* 文字置中 */
    max-width: 800px; /* 設置內容最大寬度 */
}