<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<section>

    <div class="form-box">

        <div class="form-value">

            <form id="login_form" th:object="${userRegisterRequest}" th:action="@{/users/register}" method="post">

                <h2><ion-icon name="clipboard-outline"></ion-icon></h2>
                <h2>註冊</h2>
                <div class="input-box">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" id="email" th:field="*{email}" required>
                    <label>郵 箱</label>
                </div>
                <div class="input-box">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" id="password" th:field="*{password}" required>
                    <label>密 碼</label>
                </div>
                <div class="input-box">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    <input type="password" id="re_password" required>
                    <label>確認密碼</label>
                </div>

                <button type="submit" onclick="validateEmailAndSubmit()">送 出</button>

            </form>
        </div>

    </div>

</section>

<script>

    // 驗證 email 格式
    function validateEmailAndSubmit() {

        var email = document.getElementById("email").value;
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        var password = document.getElementById("password").value;
        var rePassword = document.getElementById("re_password").value;

        if (!emailPattern.test(email)) {
            alert("請輸入有效的電子郵件地址！");
            $('#password').val('');
            $('#re_password').val('');
            return;
        }
        else if (password != rePassword) {
            alert("兩次輸入的密碼不一致！");
            $('#password').val('');
            $('#re_password').val('');
            return;
        }
    }
</script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>