<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ERROR</title>
    <style>
        p{
            font-size: 50px;
            color: red;
        }
        a{
            font-size: 20px;
            color: blue;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <p th:text="${errorMessage}"></p>
    <p th:if="${errorMessage == null}">錯誤</p>
    <a href="#" onclick="history.back();">返回</a>
    <a th:if="${errorMessage == '該 email 尚未註冊 !'}" href="/registerPage">去註冊</a>
</div>
</body>
</html>
