<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SUCCESS</title>
    <style>
        p{
            font-size: 50px;
            color: green;
        }
    </style>
</head>
<body>
<p th:if="${userLogin != null}" id="userId" th:attr="userId=${userLogin.getUserId()}"></p>
<div style="text-align: center">
    <p id="message" th:text="${success.getMessage()}" th:attr="value=${success.getEvent()}"></p>
</div>

<script>

    var event = document.getElementById('message').getAttribute('value');

    if(document.getElementById('userId') != null){
        var userId = document.getElementById('userId').getAttribute('userId');
    }

    console.log(event);

    if (event == 'register') {
        setTimeout(function() {
            window.location.href = 'http://localhost:8080/loginPage';
        }, 1500);
    }
    if (event == 'createOrder' || event == 'deleteOrder') {
        setTimeout(function() {
            window.location.href = 'http://localhost:8080/users/' + userId + '/orders';
        }, 1500);
    }

</script>

</body>
</html>
